

<div class="search-input" [class.open]="openSearchRef === true">

  <input
  class="form-control input"
  type="text"
  placeholder="Search Item..."
  tabindex="-1"
  data-search="search"
  (keyup.enter)="searchUpdate($event)"
  [(ngModel)]="searchText"
  #openSearch
/>
</div>
<head>
  <!-- <link rel="stylesheet" href="/home.component.scss"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id="charts"></div>
  <canvas class="canvas" width="500" height="500"></canvas>
  <div class="mainPadding" *ngIf="products">
    <div class="pgSize" *ngFor="let data of products">
        <div class="productyImg">
            <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/41roSaBkYNL.__AC_SX300_SY300_QL70_ML2_.jpg" /> -->
            <img src="{{data?.image_url}}"/>
          </div>
        <div class="productyText">
          <h1 class="rating">{{data?.product_name}}</h1>
            <!-- <h1>PNY GeForce GTX 1660 Ti 6GB Blower GDDR6 Graphics Card</h1> -->
            <h2>Rating: <span class="priceLight">{{data?.rating}}</span></h2>
          
            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
            <h2>Price: <span class="priceLight">{{data?.price}}</span></h2>
        </div>
        <h2 class="reviws-head">Reviews</h2>
        <div class="rating-main" *ngFor="let value of data?.review_data">
            <h2>{{value?.reviwer}}</h2>
            <h3>Time: <span class="priceLight">{{value?.Time}}</span></h3>
            <div class="rating">
          
                <!-- <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span> -->
                <p>{{value?.review}}</p>
                <h3>Status : <span class="priceLight">{{value?.status}} </span></h3>
            </div>
        </div>
        <hr>
    </div>

</div>
  <div *ngIf="products && !products.length">
<h4 style="padding:50px;">No Record Found</h4>
  </div>
  
</body>